@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

:root {
    --orange: #FD8002;
    --gray: rgba(166, 166, 166, 1);
    --black: #2D2D2D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    background-color: var(--orange);
    color: white;
    font-weight: 500;
    padding: 14px 59px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

input,
textarea {
    outline: none;
    border: none;
}

.container {
    max-width: 1366px;
    margin: 0px auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    border-bottom: 1px solid #E6E6E6;
    padding: 14px 0px;
}

.top-nav a {
    color: var(--gray);
    font-size: 12px;
    font-weight: 500;
}

.active {
    background-color: var(--orange);
    padding: 6px 23px;
    color: white !important;
    border-radius: 6px;
}

.logo {
    cursor: pointer;
    position: relative;
    z-index: 102;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9.7px 10.4px;
    background-color: #F6F6F6;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    margin-bottom: 8px;
    position: relative;
    z-index: 102;
}

.burger-menu {
    display: block;
    width: 27px;
    height: 18px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--black);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger-menu span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.burger-menu span:nth-child(2) {
    top: 8px;
    transform-origin: left center;
}

.burger-menu span:nth-child(3) {
    top: 16px;
    transform-origin: left center;
}

.burger-menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.burger-menu.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 17px;
    left: 8px;
}

.vertical-line {
    background-color: #E6E6E6;
    width: 1px;
    height: 29px;
    margin-bottom: 12px;
}


.menu {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 20px;
}

.menu-icon-logo {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.mega-menu {
    display: none;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    background: white;
    position: absolute;
    z-index: 100;
    padding: 36px 20px 100px 20px;
    top: 150px;
    left: 0;
}

.menu-icon:hover~.mega-menu,
.mega-menu:hover {
    display: flex;
}

.mega-menu-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 33px;
    max-width: 1366px;
    padding-top: 20px;
}

.mega-menu-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mega-menu-item .cataloge-title {
    color: var(--orange);
    font-size: 24px;
    font-weight: 500;
    position: relative;
}

.mega-menu-item a {
    font-size: 16px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
}

.mega-menu-item a:last-child {
    color: var(--orange);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #EAEAEA;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 10px 16px;
    width: 540px;
    z-index: 102;
}

.search input {
    background: transparent;
    width: 90%;
}

.search svg {
    cursor: pointer;
}

.contact-info,
.contact-info-item,
.user-controls,
.user-control-btn,
.go-to-product-page {
    display: flex;
}

.contact-info {
    flex-direction: column;
    gap: 5px;
    position: relative;
    z-index: 102;
}

.contact-info-item {
    align-items: center;
    gap: 14px;
}

.user-controls {
    gap: 11px;
    position: relative;
    z-index: 102;
}

.profile {
    position: relative;
}

.user-control-btn,
.go-to-product-page {
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    padding: 13px;
    cursor: pointer;
}

.profile:hover svg path,
.favorite:hover svg path,
.phone-mob:hover svg path {
    fill: var(--orange);
}

.phone-mob {
    display: none;
}

.profile:hover .register-items {
    display: flex;
}

.user-controls-hidden-items {
    display: none;
    align-items: center;
    flex-direction: column;
    background: rgba(246, 246, 246, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 8px;
    padding: 15px;
    position: absolute;
    z-index: 5;
    top: 50px;
    min-width: 141px;
    gap: 5px;
}

.user-controls-hidden-items button {
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 4px;
}

.user-controls-hidden-items a {
    text-align: center;
    color: black;
    font-size: 12px;
}

.user-controls-hidden-items a:hover {
    color: var(--orange);
}

.logedin-items a {
    font-size: 14px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    width: 100%;
    text-align: left;
}

.logedin-items a:last-child {
    border-bottom: none;
    margin-top: 20px;
}

.banner-slider {
    height: 520px;
}

.slide-item {
    background-image: url(../images/slide.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-content {
    display: flex;
    align-items: start;
    flex-direction: column;
    color: white;
    width: 50%;
    margin-top: 82px;
    margin-left: 10%;
}

.slider-content h2 {
    font-size: 48px;
    line-height: 53.04px;
}

.slider-content p {
    font-size: 20px;
    margin-top: 16px;
}

.slider-content p span {
    background-color: var(--orange);
    padding: 2px 25px;
    border-radius: 8px;
    font-size: 16px;
}

.slider-content button {
    margin-top: 43px;
}

.swiper-pagination-bullet {
    background: white !important;
    opacity: 1 !important;
    width: 13px !important;
    height: 13px !important;
}

.swiper-pagination-bullet-active {
    background: var(--orange) !important;
}

.main-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 20px;
    gap: 14px;
    height: fit-content;
}

.product-item {
    display: flex;
    flex-direction: column;
    background: #FCFBFB;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    width: 211px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    height: fit-content;
}

.add-to-favorite-icon {
    padding: 6px 6px 0px 6px;
    background-color: var(--orange);
    border-radius: 6px;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.3s;
}

.add-to-favorite-icon:hover svg path {
    fill: var(--orange);
}

.add-to-favorite-icon:hover {
    background-color: white;
}

.product-item-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    padding: 13px 0px;
}

.product-item-content,
.price-info {
    display: flex;
    flex-direction: column;
    padding: 11px;
}

.price-info {
    padding-bottom: 0px;
}

.item-title {
    font-size: 14px;
    font-weight: 500;
}

.product-item-content {
    gap: 16px;
    padding: 11px;
}

.item-price,
.in-store-value {
    color: var(--orange);
}

.item-price,
.item-price span {
    font-size: 16px;
}

.item-price span {
    color: rgba(43, 43, 43, 1);
}

.in-store {
    display: flex;
    gap: 10px;
}

.product-item-bottom {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.go-to-product-page {
    background: white;
}

footer {
    background-color: var(--orange);
    width: 100%;
}

.footer-content,
.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    width: 60%;
}

.footer-links p {
    font-size: 24px;
    font-weight: 500;
}

.footer-links a {
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.footer-content {
    gap: 60px;
    margin: 0px 20px;
    color: white;
    padding: 38px 0px;
}

.links-by-parts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email-notification {
    width: 40%;
}

.email-notification {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 16px 33px;
}

.email-notification h2 {
    color: var(--orange);
    font-size: 32px;
    font-weight: 500;
}

.email-notification p {
    color: rgba(45, 45, 45, 1);
    font-weight: 400;
    text-align: center;
}

.notification-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.notification-btn input {
    background: rgba(234, 234, 234, 1);
    border-radius: 8px;
    padding: 12px 18px;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(246, 246, 246, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 5px;
    padding: 22px 82px;
    width: 442px;
    margin: 58px 0px;
}

.login-form input {
    background: rgba(217, 217, 217, 1);
    margin-top: 10px;
    padding: 12px 18px;
    border-radius: 8px;
}

.login-form input,
.login-form button {
    width: 100%;
}

.login-form button {
    margin-top: 28px;
}

.login-form h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 18px;
}

.history {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
    gap: 10px;
}

.history a {
    color: rgba(166, 166, 166, 1);
}

.custom-info-select {
    display: flex;
    flex-direction: column;
    background-color: rgba(222, 222, 222, 1);
    border-radius: 8px;
    padding: 15px;
    height: 64px;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
}

.custom-info-select-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.custom-info-select-title p {
    font-size: 20px;
    font-weight: 500;
}

.select-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 20px;
}

.toggle-custom-select {
    height: fit-content;
}

.mobile-store-sale {
    display: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--orange) !important;
    background: white;
    border-radius: 6px;
    padding: 9px 28px;
    width: fit-content;
    margin: 0px auto;
}

/*----------------- CUSTOM FILE INPUT------------------*/

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    font-size: 14px;
    padding: 10px 12px;
    background-color: white;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

/*----------------- CUSTOM SELECT------------------*/
.search-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    background-color: #F6F6F6;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    position: relative;
    width: 120px;
    cursor: pointer;
}

@media (max-width: 400px) {
    .search-select {
        width: 160px;
    }
}

.search-select::before {
    content: url(../images/circle-arrow.svg);
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 9999;
    pointer-events: none;
    height: 18px;
}

.search-select input {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    user-select: none;
    background-color: #F6F6F6;
    max-width: 100px;
}

.search-select .options {
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    background: white;
    border: none;
    outline: none;
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    visibility: hidden;
    background-color: #F6F6F6;
}

.search-select .options .option {
    padding: 8px;
    border-radius: 9px;
    color: #292d34;
    border-bottom: 1px solid #E6E6E6;
}

.search-select .options .option:not(:last-of-type) {
    margin-bottom: 8px;
}

.search-select .options .option:hover {
    color: white;
    background: var(--orange);
}

.search-select.opened .options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.search-select.opened::before {
    content: url(../images/cross-arrow.svg);
}

/*=============================================================*/

.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 70px;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #FCFBFB;
    margin: auto;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    width: 80%;
    position: relative;
    margin-top: 100px;
}

.modal-content input {
    background-color: #D9D9D9;
    border-radius: 8px;
    color: #404040;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 14px;
}

.modal-content button {
    font-size: 16px;
    border-radius: 21px;
    padding: 7px 22px;
}

@media (max-width: 1230px) {
    .phone-mob {
        display: flex;
    }

    .contact-info,
    .menu .vertical-line {
        display: none;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        width: 100%;
    }

    .email-notification {
        margin: 0px auto;
        width: 85%;
    }

    .footer-content .footer-links {
        order: 2;
    }

    .footer-content a {
        order: 3;
    }

    .footer-content .email-notification {
        order: 1;
    }
}

@media (max-width: 1080px) {
    .search {
        position: absolute;
        width: calc(100% - 40px);
        top: 185px;
    }

    .slider {
        margin-top: 80px;
    }

    .login-form {
        margin-top: 100px;
    }

    .history {
        margin-top: 70px;
    }

    .search {
        z-index: 1;
    }

}

@media (max-width: 640px) {
    .slider-content {
        width: 90%;
    }

    .slider-content h2 {
        font-size: 36px;
        line-height: 30px;
    }

    .product-item {
        width: 100%;
    }

    .user-control-btn {
        padding: 8px;
    }

    .mobile-store-sale {
        display: block;
    }

    .email-notification {
        width: 100%;
    }

    .email-notification .notification-btn,
    .footer-links {
        flex-direction: column;
    }

    .email-notification h2 {
        font-size: 24px;
    }

    .links-by-parts {
        margin-top: 28px;
    }

    .logo img {
        max-height: 42px;
    }

    .search {
        top: 140px;
    }

    .footer-content {
        gap: 22px;
    }

    .top-nav :nth-child(3) {
        display: none;
    }

    .user-controls-hidden-items {
        top: 40px;
    }

    .burger-menu {
        width: 15px;
        height: 10px;
        padding: 7px 7px 9px 7px;
    }

    .slider {
        margin-top: 100px;
    }

    .banner-slider {
        height: 380px;
    }

    .login-form {
        width: calc(100% - 20px);
    }

    .history {
        margin-top: 90px;
    }

    .history a {
        font-size: 14px;
    }

    .mega-menu-items {
        flex-direction: column;

    }

    .mega-menu {
        top: 100px;
    }

    .mega-menu-items,
    .mega-menu-item {
        width: 100%;
    }

    .cataloge-title {
        padding: 12px 0px 12px 15px;
        background-color: #EAEAEA;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        color: black !important;
    }

    .mega-menu-item :last-child {
        display: none;
    }

    .mega-menu-items {
        gap: 0px;
    }

    .mega-menu-item {
        height: 68px;
        overflow: hidden;
        padding-bottom: 10px;
    }

    .cataloge-title::before {
        content: url(../images/arrow-white.svg) !important;
        position: absolute;
        right: 40px;
        top: 10px;
        background-color: var(--orange);
        border-radius: 8px;
        padding: 0px 12px;
    }

    .cataloge-title.opened::before {
        transform: rotate(180deg);
    }

    .cataloge-title:hover {
        cursor: pointer;
    }

    .banner-slider .slide-item {
        background-position: 60%;
        max-height: 380px;
    }

}